<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace属性:对应的接口文件的全名 -->
<mapper namespace="cn.tedu.store.mapper.CartMapper">
	
	<resultMap id="CartEntityMap" type="cn.tedu.store.entity.Cart">
			<id column="cid" property="cid"/>
			<result column="created_user" property="createdUser"/>
			<result column="created_time" property="createdTime"/>
			<result column="modified_user" property="modifiedUser"/>
			<result column="modified_time" property="modifiedTime"/>
		</resultMap>

	<!-- 插入购物车数据 -->
	<!-- Integer insert(Cart cart) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="cid">
		insert into t_cart(
		uid,pid,num,price,created_user,
		created_time,modified_user,modified_time
		)VALUES(
		#{uid},#{pid},#{num},#{price},		
		#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
	</insert>
	
	<!-- 修改购物车中商品的数量 -->
	<!-- Integer updateNumByCid(
		@Param("cid") Integer cid, 
		@Param("num") Integer num, 
		@Param("modifiedUser") String modifiedUser, 
		@Param("modifiedTime") Date modifiedTime) -->
	<update id = "updateNumByCid">
			UPDATE
			t_cart
		SET
			num=#{num},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			cid=#{cid}
	</update>
			
	<!-- 根据用户id和商品id查询购物车数据 -->
	<!-- Cart findByUidAndPid(
		@Param("uid") Integer uid, 
		@Param("pid") Integer pid) -->
	<select id = "findByUidAndPid" resultMap="CartEntityMap">
		select * from t_cart where uid=#{uid} and pid=#{pid}
	</select>
	
	<!-- 查询某用户的购物车数据 -->
	<!-- List<CartVO> findVOByUid(Integer uid) -->
	<select id="findVOByUid" resultType="cn.tedu.store.vo.CartVO">
		select cid, uid, pid, image, title, t_product.price AS realPrice, t_cart.price,t_cart.num 
		from 
		t_cart left join t_product 
		 on 
		 t_cart.pid=t_product.id 
		 where 
		 uid=#{uid} 
		 order by t_cart.created_time desc
		
	</select>
	
	<!-- 根据购物车数据id查询购物车详情 -->
	<!-- Cart findByCid(Integer cid) -->
	<select id="findByCid" resultMap="CartEntityMap">
		select * from t_cart where cid=#{cid}
	</select>
	
	<!-- 根据多个购物车数据id查询多条购物车数据 -->
	<!-- List<CartVO> findVOByCids(Integer[] cids) -->
	<select id="findVOByCids"
		resultType="cn.tedu.store.vo.CartVO">
		SELECT
			cid, uid,
			pid, t_cart.num,
			title, image, 
			t_cart.price,
			t_product.price AS realPrice
		FROM
			t_cart
		LEFT JOIN
			t_product
		ON
			t_cart.pid=t_product.id
		WHERE
			cid IN
			<foreach collection="array"
				item="cid" separator=","
				open="(" close=")">
				#{cid}
			</foreach>
		ORDER BY
			t_cart.created_time DESC
	</select>
	
	<!-- 根据购物车数据id，批量删除购物车中的数据 -->
	<!-- Integer deleteByCids(Integer[] cids) -->
	<delete id="deleteByCids">
		delete from t_cart where cid in	
		<foreach collection ="array" item = "cid" separator = "," open = "(" close=")">
			#{cid}
		</foreach>
	</delete>
	
</mapper>

